.footer {
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding: 45px 0 30px;
  justify-content: space-between;
  align-items: center;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  height: 36px;
  text-align: center;
}

.footer__logo img {
  display: block;
  width: 82px;
  height: auto;

  @media (min-width: $desktop-width) {
    width: 170px;
  }
}

.footer__lists {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}
