.select-control {
  font: inherit;
  margin-left: auto;
  padding: 0 17px;
  padding-right: 50px;
  height: 49px;
  border-radius: 4px;
  margin-right: 70px;
  width: 292px;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  cursor: pointer;
  appearance: none;
  background-image: url('../images/catalog-page/arrow.svg');
  background-repeat: no-repeat;
  background-position: right 18px center;
  background-color: #ffffff;
}
