.slider {
  display: flex;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider__list {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.slider__item {
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.slider__item--flatwhite {
  background-color: $flat-white;
  @media (min-width: $tablet-width) {
    background: linear-gradient(
      to bottom,
      $flat-white 0 70%,
      transparent 70% 100%
    );
  }

  @media (min-width: $desktop-width) {
    background: $flat-white;
  }
}

.slider__item--lavander {
  background-color: $lavander-latte;
  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $lavander-latte, transparent 70%);
  }
}

.slider__item--espresso {
  background-color: $espresso;
  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $espresso, transparent 70%);
  }
}

.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $desktop-width) {
    align-items: flex-start;
    width: 625px;
    height: auto;
  }
}

.slider__title {
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 48px;
  font-size: 36px;

  @media (min-width: $tablet-width) {
    line-height: 80px;
    font-size: 56px;
  }
}

.slider__description {
  margin: 0;
  padding: 0;
}

.slider__buy {
  display: flex;
  justify-content: space-between;
  width: 230px;
  margin: 0 25px;
  margin-top: 20px;
}

.slider__price {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 113px;
}

.old-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: $base-primary;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: $base-primary;
    transform: translateY(-50%);
  }
}

.new-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.slider__buy--button {
  padding: 8px 20px;
}

.slider__arrow-buttons {
}

.slider__toggles {
}

.slider__toggle {
}

//

.slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  @media (min-width: $tablet-width) {
    order: 2;
    width: 476px;
    height: 476px;
  }
  @media (min-width: $desktop-width) {
    order: 1;
    width: 600px;
    height: 600px;
  }
}

.slider__arrow--buttons {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
}

.slider-button-prev,
.slider-button-next {
  height: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;

  &.disabled {
    filter: grayscale(100%);
    cursor: not-allowed;
  }

  &:hover {
    background: linear-gradient(to right, $base-white, transparent);
  }

  &:active {
    background: linear-gradient(to right, $base-primary, transparent);
  }

  svg {
    fill: currentColor; // Устанавливает цвет стрелки в зависимости от состояния кнопки
    width: 20px;
    height: 20px;
  }
}

.slider-button-prev {
  transform: scaleX(1);
}

.slider-button-next {
  transform: scaleX(-1);
}

// только для десктопа
.slider__toggles {
  display: none;
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.slider__toggle {
  display: none;
  @media (min-width: $desktop-width) {
    width: 62px;
    height: 4px;
    margin: 0 5px;
    padding: 0;
    background-color: $base-white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &--current {
      background-color: $base-primary;
    }

    &:hover:focus {
      background-color: $light-grey;
    }
  }
}
